<!-- Hello world
<br>
Here is custome componenet
<app-test-comp></app-test-comp> -->

<!-- string interpolation{{}} -->

<h3>String Interpolation</h3>

<h3>{{title}}</h3>
<h3>The {{title}} class is conducted on {{classdate}}.</h3>
<h3>get a roll no like{{getStudentRoll()}}</h3>

<!-- Property Binding [property name] -->
<input value="Property name">
<br>
<br>
<input [value]="propertyBind">
<br>
<br>
<input [type]="inputType" [disabled]="bool">
<input [type]="inputType" disabled="false">

<!-- event binding  action ()-->
 <!-- mouse over,onclick -->
  <button (click)="btnClick()">Click button</button>
  <br>
  <br>
  <br>
<button (mouseover)="btnMouse()">Mouse Over</button>